/*---------------container----------*/
.container {
    padding: 0 15px; 
    // 1. Для .container не потрібно задавати верхній і нижній паддинги. Для контейнеру задаються лише бокові паддинги
        margin: 0 auto;
        
    
        @media screen and (min-width:"480px") {
            max-width: 480px;
        }
    
        @media screen and (min-width:"768px") {
            max-width: 768px; 
            align-items: center;
            display: flex;
            
        }
        
        @media screen and (min-width:"1200px") {
            max-width: 1200px;
            
        }
    }
