/*---------variables in scss-------*/
$logo-color-blue: #2196F3;
$color-white: #ffffff;
$background-original-color: #F5F4FA;
$background-footer-color: #2F303A;
$color-contacts-text: #757575;
$brand-color: #212121;
$color-brand-icons: #AFB1B8;